@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #2E2E2E;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #6c6868c2;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #3C3C3C;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-top: 15px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3C3C3C;
    color: #E0E0E0;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2B2B2B;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #4A4A4A;
}

#sidebar ul p {
    color: #E0E0E0;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #3C3C3C;
    background: #E0E0E0;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #3C3C3C;
    background: #E0E0E0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3C3C3C;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #E0E0E0;
    color: #3C3C3C;
}

a.article,
a.article:hover {
    background: #2B2B2B !important;
    color: #E0E0E0 !important;
}

#content {
    width: 25%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

#page-content {
    padding: 20px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

#flash-message {
    max-width: 400px;
}

.side_class {
    color: #A0A0A0;
    text-decoration: none;
    background-color: transparent;
}

.btn-upload {
    background-color: #008CBA;
    /* Blue */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-upload:hover {
    background-color: #005f5f;
    /* Darker blue on hover */
}