<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>DAIBETES</h3>
            <img class="logo" src="static\daibetes_logo.png" alt="...">
        </div>
        <ul class="list-unstyled components">
            <p>Automating diabetes surveillance</p>
            <li>
                <a href="/" class="side_class">Home</a>
            </li>
            <li>
                <a href="/collect_data" class="side_class">Collect Data</a>
            </li>
            <li>
                <a href="/show_data" class="side_class">Show Data</a>
            </li>
            <li>
                <a href="/model" class="side_class">Model</a>
            </li>
            <li>
                <a href="#" class="side_class">Contact</a>
            </li>
        </ul>
        <ul class="list-unstyled CTAs"></ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>