
<div class="wrapper">
	<!-- Sidebar  -->
	<nav id="sidebar">
		<div class="sidebar-header">
			<h3>DAIBETES</h3>
        <img class = "logo" src="static\daibetes_logo.png" alt="...">
      
		</div>
		<ul class="list-unstyled components">
			<p>Automating diabetes surveillance</p>
			<li class="active">
				<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
				<ul class="collapse list-unstyled" id="homeSubmenu">
					<li>
						<a href="#">Home 1</a>
					</li>
					<li>
						<a href="#">Home 2</a>
					</li>
					<li>
						<a href="#">Home 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
				<ul class="collapse list-unstyled" id="pageSubmenu">
					<li>
						<a href="#">Page 1</a>
					</li>
					<li>
						<a href="#">Page 2</a>
					</li>
					<li>
						<a href="#">Page 3</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Portfolio</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>

		<ul class="list-unstyled CTAs">
			
		</ul>
	</nav>

	<!-- Page Content  -->
	<div id="content">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">

				<button type="button" id="sidebarCollapse" class="btn btn-info">
					<i class="fas fa-align-left"></i>
					<span>Toggle Sidebar</span>
				</button>
				<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-align-justify"></i>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="nav navbar-nav ml-auto">
					</ul>
				</div>
			</div>
		</nav>

		<h2>What is DAIBETES about?</h2>
		<p>My AI application is designed to assist people with type 1 diabetes in managing their condition and maintaining healthy blood sugar levels. Using the Openfood Fact API, users can input information about their meals, how they feel, and any other factors that may impact their sugar levels. They can also input data from their Freestyle Libre device. Based on this information and the user's historical data, our AI system is able to predict how much insulin the user should inject. We hope that this tool will make it easier for people with type 1 diabetes to take control of their health and feel confident in their insulin dosage decisions.</p>

		<div class="line"></div>

		<h2>Why am I developing this application?</h2>
		<p>As someone who lives with type 1 diabetes, I know firsthand how challenging it can be to manage my condition and keep my blood sugar levels in check. That's why I'm so excited about the AI application I am developing. I hope it can help others with type 1 diabetes as well.</p>
		

		<div class="line"></div>

		<h2>About me</h2>
		<p>As a Data Scientist at Guys and St Thomas NHS trust, I am proud to be part of a team that is dedicated to improving healthcare outcomes. My background in Computer Science, with a specialization in AI and machine learning, has prepared me to tackle complex data challenges and find innovative solutions to problems. On this project, I am always excited to use my skills and expertise to make a positive impact on the lives of others. </p>

	</div>
</div>